.footer {
  margin-top: auto;
}

.footer__container {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
}

.footer__top {
  padding-top: 60px;
  padding-bottom: 40px;
  border: 1px solid #d3cbd9;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
  margin-top: 40px;
  padding-inline-start: 0px;
}

.footer__bottom {
  height: 96px;
}

.footer__bottom-text {
  display: inline-block;
  margin: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__list-anchor {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  text-decoration: none;
  transition: 0.3s;
}

.footer__list-anchor:hover {
  color: #3596ed;
}
